body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.basic-table-style {
    margin-left: 5px;
    margin-right: 5px;
    width: 99% !important;
    border-collapse: collapse;  /* <--- add this so all the internal <td>s share adjacent borders  */
}

.basic-table-style {
    border-collapse: separate;
    border-spacing: 4px 7px;
}

.basic-table-style .reactable-filter-input {
    border-radius: 4px;
}

.basic-table-style tr td:last-child {
    min-width: 450px;
}

.basic-table-style td {
    white-space:pre-wrap;
}

.basic-table-style .reactable-column-header th{
    padding-left: 10px;
    padding-right: 10px;
    background: #282828;
    color: white;
    font-style: italic;
}

.basic-table-style .reactable-data td{
    padding: 5px 5px 5px 7px;
    background: white;
    color: black;
}

.basic-table-style tr {
    padding: .75rem 1.25rem;
}

.basic-table-style .reactable-column-header{
    box-sizing: border-box;

    vertical-align: middle;
    border-color: inherit;
    margin-bottom: 1rem;
    color: #212529;

    text-indent: initial;

    font-family: "Poppins",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;

    text-align: left;
}

.basic-table-style .reactable-pagination a{
    padding: 10px 17px 7px 3px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: inherit;
    font-family: "Poppins",Arial,sans-serif;
}

:root {
    background: #F8F8F8;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system , BlinkMacSystemFont , "Segoe UI" , Roboto , "Helvetica Neue" , Arial , "Noto Sans" , sans-serif , "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol" , "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular , Menlo , Monaco , Consolas , "Liberation Mono" , "Courier New" , monospace;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
